{% extends "frontend/layout.html" %}
{% load static %}

{% block page_title %}
	HillPad &#8211; Contact Us
{% endblock %}

{% block page_content %}
    <!-- #content -->
    <div id="content" class="site-content">
        <div data-elementor-type="wp-page" data-elementor-id="1571" class="elementor elementor-1571">
            
            <!-- Breadcrumb -->
            <div class="elementor-section elementor-top-section elementor-element elementor-element-778faf92 elementor-section-full_width elementor-section-stretched mt-5 mb-md-2 pt-5 elementor-section-height-default elementor-section-height-default"
                data-id="778faf92" data-element_type="section"
                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-default container">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2aaf6b63"
                        data-id="2aaf6b63" data-element_type="column">
                        <div class="p-0 elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-7186fe3d elementor-widget elementor-widget-fr-breadcrumb"
                                data-id="7186fe3d" data-element_type="widget"
                                data-widget_type="fr-breadcrumb.default">
                                <div class="elementor-widget-container">
                                    <nav class="mb-3 pt-md-3" aria-label="Breadcrumb">
                                        <ol class="breadcrumb breadcrumb-dark">
                                            <li class="breadcrumb-item"><a
                                                    href="{% url 'home' %}">Home</a></li>
                                            <li class="breadcrumb-item active">Contact us</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumb-->

            <!-- Main body -->
            <div class="elementor-section elementor-top-section elementor-element elementor-element-181f8b0a elementor-section-full_width elementor-section-stretched mb-5 pb-2 pb-md-4 pb-lg-5 elementor-section-height-default elementor-section-height-default"
                data-id="181f8b0a" data-element_type="section"
                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div
                    class="elementor-container elementor-column-gap-default container p-0 row align-items-md-start align-items-center gy-4">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-530f69ca col-lg-5 col-md-6"
                        data-id="530f69ca" data-element_type="column">
                        <div class="p-0 elementor-widget-wrap elementor-element-populated">
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-398b0237 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="398b0237" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-de2a2c1 mx-md-0 mx-auto mb-md-5 mb-4 pb-md-4 text-md-start text-center"
                                        data-id="de2a2c1" data-element_type="column">
                                        <div class="p-0 elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-268bb65d mb-4 elementor-widget elementor-widget-highlighted-heading"
                                                data-id="268bb65d" data-element_type="widget"
                                                data-widget_type="highlighted-heading.default">
                                                <div class="elementor-widget-container">
                                                    <h1 class="finder-elementor-highlighted-heading__title mb-0">Get
                                                        in touch!</h1>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-25ef52bc mb-0 elementor-widget elementor-widget-highlighted-heading"
                                                data-id="25ef52bc" data-element_type="widget"
                                                data-widget_type="highlighted-heading.default">
                                                <div class="elementor-widget-container">
                                                    <p
                                                        class="finder-elementor-highlighted-heading__title mb-0 fs-lg text-muted">
                                                        Fill out the form and we'll get back to you
                                                        within 24 hours.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="elementor-element elementor-element-238d21d elementor-widget elementor-widget-image"
                                data-id="238d21d" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <style>
                                        /*! elementor - v3.10.2 - 29-01-2023 */
                                        .elementor-widget-image {
                                            text-align: center
                                        }

                                        .elementor-widget-image a {
                                            display: inline-block
                                        }

                                        .elementor-widget-image a img[src$=".svg"] {
                                            width: 48px
                                        }

                                        .elementor-widget-image img {
                                            vertical-align: middle;
                                            display: inline-block
                                        }
                                    </style> <img decoding="async" width="526" height="326"
                                        src="{% static 'frontend/wp-content/uploads/2021/11/contact.svg' %}"
                                        class="attachment-large size-large wp-image-1600" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d46cfc7 col-md-6 offset-lg-1"
                        data-id="3d46cfc7" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-5be9a30 elementor-widget elementor-widget-html"
                                data-id="5be9a30" data-element_type="widget" data-widget_type="html.default">
                                <div class="elementor-widget-container">
                                    <div class="card border-0 bg-secondary p-sm-3 p-2">
                                        <div class="card-body m-1">
                                            <form class="needs-validation" novalidate="">
                                                <div class="mb-4">
                                                    <label class="form-label" for="c-name">Full Name</label>
                                                    <input class="form-control form-control-lg" id="c-name"
                                                        type="text" required="">
                                                    <div class="invalid-tooltip mt-1">Please, enter your name</div>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label" for="c-email">Your Email</label>
                                                    <input class="form-control form-control-lg" id="c-email"
                                                        type="email" required="">
                                                    <div class="invalid-tooltip mt-1">Please, enter your email</div>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label" for="c-message">Message</label>
                                                    <textarea class="form-control form-control-lg" id="c-message"
                                                        rows="4" placeholder="Leave your message"
                                                        required=""></textarea>
                                                    <div class="invalid-tooltip mt-1">Please, type your message
                                                    </div>
                                                </div>
                                                <div class="pt-sm-2 pt-1">
                                                    <button class="btn btn-lg btn-primary w-sm-auto w-100"
                                                        type="submit">Submit form</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main body -->
            
            <!-- Contact section -->
            <div class="elementor-section elementor-top-section elementor-element elementor-element-7eac3359 elementor-section-full_width elementor-section-stretched mb-5 pb-2 pb-md-4 pb-lg-5 elementor-section-height-default elementor-section-height-default"
                data-id="7eac3359" data-element_type="section"
                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-default container row g-4 p-0">
                    
                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-119c37cf col-md-4"
                        data-id="119c37cf" data-element_type="column">
                        <div
                            class="icon-box card card-hover h-100 p-0 elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-4df45b29 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                data-id="4df45b29" data-element_type="widget" data-widget_type="icon-box.default">
                                <div class="elementor-widget-container">
                                    <link rel="stylesheet"
                                        href="{% static 'frontend/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css' %}">
                                    <div class="elementor-icon-box-wrapper card-body text-start">
                                        <div class="elementor-icon-box-icon">
                                            <span
                                                class="elementor-icon elementor-animation- d-flex align-items-center justify-content-center  icon-box-media text-primary rounded-circle shadow-sm mb-3">
                                                <i aria-hidden="true" class="fi fi-mail"></i> </span>
                                        </div>
                                        <div class="elementor-icon-box-content">
                                            <span class="elementor-icon-box-title d-block mb-1">
                                                <a href="mailto:contact@hillpad.com"
                                                    class="stretched-link text-decoration-none">Drop us a message</a>
                                            </span>
                                            <p
                                                class="elementor-icon-box-description h4 icon-box-title mb-0 opacity-90">
                                                contact@hillpad.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-70d3a735 col-md-4"
                        data-id="70d3a735" data-element_type="column">
                        <div
                            class="icon-box card card-hover h-100 p-0 elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-fbde959 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                data-id="fbde959" data-element_type="widget" data-widget_type="icon-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-icon-box-wrapper card-body text-start">
                                        <div class="elementor-icon-box-icon">
                                            <span
                                                class="elementor-icon elementor-animation- d-flex align-items-center justify-content-center  icon-box-media text-primary rounded-circle shadow-sm mb-3">
                                                <i aria-hidden="true" class="fi fi-phone"></i> </span>
                                        </div>
                                        <div class="elementor-icon-box-content">
                                            <span class="elementor-icon-box-title d-block mb-1">
                                                <a href="tel:4065550120"
                                                    class="stretched-link text-decoration-none">Call us any time</a>
                                            </span>
                                            <p
                                                class="elementor-icon-box-description h4 icon-box-title mb-0 opacity-90">
                                                (406) 555-0120</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-26de2faf col-md-4"
                        data-id="26de2faf" data-element_type="column">
                        <div
                            class="icon-box card card-hover h-100 p-0 elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-747ef76f elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                                data-id="747ef76f" data-element_type="widget" data-widget_type="icon-box.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-icon-box-wrapper card-body text-start">
                                        <div class="elementor-icon-box-icon">
                                            <a href="https://facebook.com">
                                                <span class="elementor-icon elementor-animation- d-flex align-items-center justify-content-center  icon-box-media text-info rounded-circle shadow-sm mb-3">
                                                    <i aria-hidden="true" class="fi fi-facebook"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="elementor-icon-box-content">
                                            <span class="elementor-icon-box-title d-block mb-1">
                                                Reach out on Facebook
                                            </span>
                                            <p class="elementor-icon-box-description h4 icon-box-title mb-0 opacity-90">
                                                @hillpad_edu</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Contact section -->

        </div>
    </div>
    <!-- #content -->
{% endblock %}