{% extends "frontend/layout.html" %}
{% load static %}

{% block page_title %}
	HillPad &#8211; Countries
{% endblock %}

{% block page_content %}
	<!-- Page content -->
	<div id="content" class="site-content">
		<div class="content-area">
			<div class="hp-page site-main">
				<div class="finder-hivepress-listing-single">

					<!-- Page Heading -->
					<div class="container pt-5 mt-5">
						<!-- Page Navigation -->
						<nav class="mb-5 pt-md-3" aria-label="Breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								<li class="breadcrumb-item active">Countries</li>
							</ol>
						</nav>
						<!-- End Page Navigation -->
						
						<!-- Header Text Area -->
						<div class="d-sm-flex align-items-center justify-content-between mb-4 pb-sm-2">
							<!-- Course Title -->
							<h1 class="h1 finder-hp-listing-single-title me-3 mb-sm-0">Countries</h1>
							<!-- End Course Title -->
						</div>
						<!-- End Header Text Area -->
						
					</div>
					<!-- End Page Heading -->

					<!-- Countries Section -->
					<div class="container mb-5 pb-2">
						<div class="elementor-element elementor-element-7d0a2e39 mb-0 elementor-widget elementor-widget-highlighted-heading"
							data-id="7d0a2e39" data-element_type="widget" data-widget_type="highlighted-heading.default">
							<div class="elementor-widget-container">
						
								<!-- Sort by and Results -->
								<div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
						
									<!-- Sort by -->
									<form class="d-flex align-items-center flex-shrink-0 finder-hivepress-sorting" action=".." method="GET">
										<input type="hidden" name="post_type" value="hp_listing" class="hp-field hp-field--hidden">
										<label class="fs-sm me-2 pe-1 text-nowrap" for="sortby">
											<i class="fi-arrows-sort text-muted mt-n1 me-2"></i>
											Sort by: </label>
										<select name="_sort" class="listing-orderby form-select form-select-sm" id="sortby"
											onchange="this.form.submit();">
											<option value="distance__asc" selected>Name</option>
											<option value="distance__desc">Number of programmes</option>
										</select>
									</form>
									<!-- End Sort by -->
						
									<hr class="d-none d-sm-block w-100 mx-4">
						
									<!-- Results -->
									<div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted">
										<i class="fi-check-circle me-2"></i>
										<span class="fs-sm mt-n1">
											51 countries </span>
									</div>
									<!-- End Results -->
								</div>
								<!-- End Sort by and Results -->
						
								<!-- Countries -->
								<div class="elementor-container elementor-column-gap-default row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-1 g-4 mb-4 mt-2">
									
									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-al fs-lg  me-2"></i>
												Albania
											</a>
											(5)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-dz fs-lg  me-2"></i>
												Algeria
											</a>
											(13)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ad fs-lg  me-2"></i>
												Andorra
											</a>
											(8)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ao fs-lg  me-2"></i>
												Angola
											</a>
											(12)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ag fs-lg  me-2"></i>
												Antigua and Barbuda
											</a>
											(0)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ar fs-lg  me-2"></i>
												Argentina
											</a>
											(25)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-am fs-lg  me-2"></i>
												Armenia
											</a>
											(3)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-aw fs-lg  me-2"></i>
												Aruba
											</a>
											(4)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-au fs-lg  me-2"></i>
												Australia
											</a>
											(79)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-at fs-lg  me-2"></i>
												Austria
											</a>
											(13)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-be fs-lg  me-2"></i>
												Belgium
											</a>
											(30)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ba fs-lg  me-2"></i>
												Bosnia and Herzegovina
											</a>
											(2)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-br fs-lg  me-2"></i>
												Brazil
											</a>
											(25)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ca fs-lg  me-2"></i>
												Canada
											</a>
											(28,593)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-cn fs-lg  me-2"></i>
												China
											</a>
											(321)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-hr fs-lg  me-2"></i>
												Croatia
											</a>
											(24)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-dk fs-lg  me-2"></i>
												Denmark
											</a>
											(33)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-eg fs-lg  me-2"></i>
												Egypt
											</a>
											(25)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-fi fs-lg opacity-100 me-2"></i>
												Finland
											</a>
											(42)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-fr fs-lg opacity-100 me-2"></i>
												France
											</a>
											(1438)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-de fs-lg  me-2"></i>
												Germany
											</a>
											(765)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-gh fs-lg  me-2"></i>
												Ghana
											</a>
											(76)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-hu fs-lg  me-2"></i>
												Hungary
											</a>
											(17)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-in fs-lg  me-2"></i>
												India
											</a>
											(346)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ie fs-lg  me-2"></i>
												Ireland
											</a>
											(92)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-it fs-lg  me-2"></i>
												Italy
											</a>
											(261)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-jp fs-lg  me-2"></i>
												Japan
											</a>
											(84)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ke fs-lg  me-2"></i>
												Kenya
											</a>
											(56)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-lu fs-lg  me-2"></i>
												Luxembourg
											</a>
											(20)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-my fs-lg  me-2"></i>
												Malaysia
											</a>
											(92)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-mx fs-lg  me-2"></i>
												Mexico
											</a>
											(127)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ma fs-lg  me-2"></i>
												Morocco
											</a>
											(29)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-nl fs-lg  me-2"></i>
												Netherlands
											</a>
											(85)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ng fs-lg  me-2"></i>
												Nigeria
											</a>
											(32)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-no fs-lg  me-2"></i>
												Norway
											</a>
											(17)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-om fs-lg  me-2"></i>
												Oman
											</a>
											(2)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-pl fs-lg  me-2"></i>
												Poland
											</a>
											(20)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-pt fs-lg  me-2"></i>
												Portugal
											</a>
											(41)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-qa fs-lg  me-2"></i>
												Qatar
											</a>
											(54)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ru fs-lg  me-2"></i>
												Russia
											</a>
											(97)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-sa fs-lg  me-2"></i>
												Saudi Arabia
											</a>
											(76)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-sg fs-lg  me-2"></i>
												Singapore
											</a>
											(215)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-za fs-lg  me-2"></i>
												South Africa
											</a>
											(438)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-es fs-lg  me-2"></i>
												Spain
											</a>
											(329)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-ch fs-lg  me-2"></i>
												Switzerland
											</a>
											(135)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-tz fs-lg  me-2"></i>
												Tanzania
											</a>
											(31)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-tr fs-lg  me-2"></i>
												Turkey
											</a>
											(50)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-gb fs-lg  me-2"></i>
												United Kingdom
											</a>
											(32,456)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-us fs-lg  me-2"></i>
												United States of America
											</a>
											(56,782)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-vn fs-lg  me-2"></i>
												Vietnam
											</a>
											(76)
										</span>
									</div>

									<div class="elementor-column">
										<span>
											<a href="{% url 'country_detail' %}" class="text-decoration-none">
												<i class="fg fg-zm fs-lg  me-2"></i>
												Zambia
											</a>
											(10)
										</span>
									</div>
						
								</div>
						
							</div>
						</div>
					</div>
					<!-- End Countries Section -->

					<!-- Popular Countries Section -->
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-62ed2f99 elementor-section-full_width elementor-section-stretched mb-5 pb-2  elementor-section-height-default elementor-section-height-default"
						data-id="62ed2f99" data-element_type="section"
						data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-default container">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c29f61c"
								data-id="c29f61c" data-element_type="column">
								<div class="p-0 elementor-widget-wrap elementor-element-populated">
									
									<!-- Heading -->
									<div class="elementor-section elementor-inner-section elementor-element elementor-element-51f51421 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
										data-id="51f51421" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default flex-nowrap d-flex align-items-center justify-content-between mb-3">
											<!-- Title -->
											<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-670f8a6c col-auto"
												data-id="670f8a6c" data-element_type="column">
												<div class="p-0 elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-57d7219d mb-0  elementor-widget elementor-widget-highlighted-heading"
														data-id="57d7219d" data-element_type="widget"
														data-widget_type="highlighted-heading.default">
														<div class="elementor-widget-container">
															<h2 class="finder-elementor-highlighted-heading__title h3 mb-0">
																Popular destinations</h2>
														</div>
													</div>
												</div>
											</div>
											<!-- End Title -->

										</div>
									</div>
									<!-- End Heading -->

									<!-- Countries list -->
									<div class="elementor-element elementor-element-fr-city city-carousel elementor-widget elementor-widget-fr-city-carousel"
										data-id="fr-city" data-element_type="widget"
										data-widget_type="fr-city-carousel.default">
										<div class="elementor-widget-container">
											<div
												class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush mx-n2 tns-controls-outside-xxl">
												<div id="slider-63e0f9b255660"
													class="tns-carousel-inner row gx-4 mx-0 py-md-4 py-3" data-ride="tns"
													data-carousel-options="{&quot;loop&quot;:true,&quot;controls&quot;:true,&quot;axis&quot;:&quot;horizontal&quot;,&quot;items&quot;:4,&quot;nav&quot;:true,&quot;navPosition&quot;:&quot;bottom&quot;,&quot;autoplay&quot;:false,&quot;autoHeight&quot;:false,&quot;autoplayTimeout&quot;:null,&quot;speed&quot;:300,&quot;arrowKeys&quot;:false,&quot;mode&quot;:&quot;carousel&quot;,&quot;slideBy&quot;:&quot;1&quot;,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2,&quot;nav&quot;:true},&quot;768&quot;:{&quot;items&quot;:3,&quot;nav&quot;:true},&quot;992&quot;:{&quot;items&quot;:4,&quot;nav&quot;:true}}}">

													<div class="col">
														<a class="card shadow-sm card-hover border-0"
															href="{% url 'country_detail' %}">
															<div class="card-img-top card-img-hover">
																<span class="img-overlay opacity-65"></span> <img
																	decoding="async"
																	src="{% static 'frontend/wp-content/uploads/2021/11/new-york.jpeg' %}" alt="">
																<div
																	class="content-overlay start-0 top-0 d-flex align-items-center justify-content-center w-100 h-100 p-3">
																	<div class="w-100 p-1">
																		<div class="mb-2">
																			<h4
																				class="fr-city__label mb-2 text-light fw-bold fs-xs">
																				<i
																					class="mt-n1 me-2 fs-sm align-middle fa fa-globe-americas text-primary"></i>
																				Europe
																			</h4>
																			<p class="text-light fw-normal fs-xs">
																				Belgium, officially the Kingdom of Belgium, is a country in Northwestern Europe.
																				The country is bordered by the Netherlands to the north,
																				Germany to the east, Luxembourg to the southeast, France to the southwest,
																				and the North Sea to the northwest. 
																			</p>
																		</div>

																	</div>
																</div>
															</div>

															<div class="card-body text-center">
																<h3 class="fr-city__text mb-0 text-nav fs-base">
																	Belgium </h3>
															</div>
														</a>
													</div>

													<div class="col">
														<a class="card shadow-sm card-hover border-0"
															href="{% url 'country_detail' %}">
															<div class="card-img-top card-img-hover">
																<span class="img-overlay opacity-65"></span> <img
																	decoding="async"
																	src="{% static 'frontend/wp-content/uploads/2021/11/los-angeles.jpeg' %}"
																	alt="">
																<div
																	class="content-overlay start-0 top-0 d-flex align-items-center justify-content-center w-100 h-100 p-3">
																	<div class="w-100 p-1">
																		<div class="mb-2">
																			<h4
																				class="fr-city__label mb-2 text-light fw-bold fs-xs">
																				<i
																					class="mt-n1 me-2 fs-sm align-middle fa fa-globe-americas text-primary"></i>
																				Africa
																			</h4>
																			<p class="text-light fw-normal fs-xs">
																				Nigeria is a country in West Africa. It is situated between the Sahel to the north
																				and the Gulf of Guinea to the south in the Atlantic Ocean.
																				It covers an area of 923,769 square kilometres (356,669 sq mi), and with a population of over 225 million, 
																				it is the most populous country in Africa, and the world's sixth-most populous country.
																			</p>

																		</div>

																	</div>
																</div>
															</div>

															<div class="card-body text-center">
																<h3
																	class="fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base">
																	Nigeria </h3>
															</div>
														</a>
													</div>

													<div class="col">
														<a class="card shadow-sm card-hover border-0"
															href="{% url 'country_detail' %}">
															<div class="card-img-top card-img-hover">
																<span class="img-overlay opacity-65"></span> <img
																	decoding="async"
																	src="{% static 'frontend/wp-content/uploads/2021/11/san-diego.jpeg' %}"
																	alt="">
																<div
																	class="content-overlay start-0 top-0 d-flex align-items-center justify-content-center w-100 h-100 p-3">
																	<div class="w-100 p-1">
																		<div class="mb-2">
																			<h4
																				class="fr-city__label mb-2 text-light fw-bold fs-xs">
																				<i
																					class="mt-n1 me-2 fs-sm align-middle fa fa-globe-americas text-primary"></i>
																				Europe
																			</h4>

																			<p class="text-light fw-normal fs-xs">
																				The United Kingdom is a country in Europe, off the north-western coast of the continental mainland.
																				It comprises England, Scotland, Wales and Northern Ireland.
																				Its total area is 242,495 square kilometres (93,628 sq mi),
																				with an estimated 2020 population of more than 67 million people.
																			</p>
																		</div>

																	</div>
																</div>
															</div>

															<div class="card-body text-center">
																<h3
																	class="fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base">
																	United Kingdom </h3>
															</div>
														</a>
													</div>

													<div class="col">
														<a class="card shadow-sm card-hover border-0"
															href="{% url 'country_detail' %}">
															<div class="card-img-top card-img-hover">
																<span class="img-overlay opacity-65"></span> <img
																	decoding="async"
																	src="{% static 'frontend/wp-content/uploads/2021/11/dallas.jpeg' %}" alt="">
																<div
																	class="content-overlay start-0 top-0 d-flex align-items-center justify-content-center w-100 h-100 p-3">
																	<div class="w-100 p-1">
																		<div class="mb-2">
																			<h4
																				class="fr-city__label mb-2 text-light fw-bold fs-xs">
																				<i
																					class="mt-n1 me-2 fs-sm align-middle fa fa-globe-americas text-primary"></i>
																				North America
																			</h4>

																			<p class="text-light fw-normal fs-xs">
																				The United States of America is a country primarily located in North America.
																				It is the world's third-largest country by both land and total area.
																				With a population of over 333 million, it is the most populous country
																				in the Americas and the third most populous in the world.
																			</p>
																		</div>

																	</div>
																</div>
															</div>

															<div class="card-body text-center">
																<h3
																	class="fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base fr-city__text mb-0 text-nav fs-base">
																	United States </h3>
															</div>
														</a>
													</div>

												</div>
											</div>
										</div>
									</div>
									<!-- End Countries list -->

								</div>
							</div>
						</div>
					</section>
					<!-- End Popular Countries Section -->


					<!-- Other Interesting Courses -->
					<section class="container pb-5 mb-lg-4">

						<!-- Interesting Courses Title -->
						<div class="d-flex align-items-center justify-content-between  mb-4 pb-2">
							<h2 class="h3 mb-0">Recommended courses for you</h2>
							<a class="btn btn-link fw-normal p-0 ms-sm-3" href="../../listing/">
								More suggestions <i class="fi-arrow-long-right ms-2"></i>
							</a>
						</div>
						<!-- End Interesting Courses Title -->

						<!-- Interesting Courses Items -->
						<div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside mb-xxl-2">
							<div class="tns-carousel-inner"
								data-carousel-options="{&quot;items&quot;:3,&quot;gutter&quot;:24,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:3,&quot;nav&quot;:false}}}">
								
								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/07-1.jpg' %}"
														alt="Merry Berry Motel" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											S.B.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">Harvard University</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">$47,320</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">4 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>
								
								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/09-1.jpg' %}"
														alt="Repose Hotel" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											B.Eng.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical and Electronic Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">Imperial College London</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">£37,900</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">3 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>

								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/11-1.jpg' %}"
														alt="Soothe &amp; Stay" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											B.S.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical and Computer Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">University of California, Berkeley</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">$23,410</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">4 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>
							</div>
						</div>
						<!-- End Interesting Courses Items -->

					</section>
					<!-- End Recently Viewed -->

				</div>
			</div>
		</div>
	</div>
	<!-- #content -->
{% endblock %}
