{% extends "frontend/layout.html" %}
{% load static %}

{% block page_title %}
	HillPad &#8211; Agriculture &amp; Forestry
{% endblock %}

{% block page_css %}
    <!-- Datatables -->
    <link rel="stylesheet" id="datatables-css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
{% endblock %}

{% block page_content %}
    <!-- #content -->
    <div id="content" class="site-content">
        <div class="content-area">
            <div class="hp-page site-main">
                <div class="finder-hivepress-listing-single">
                    
                    <!-- Page heading-->
                    <div class="container pt-5 mt-5">
                        
                        <!-- Breadcrumb -->
                        <nav class="mb-5 pt-md-3" aria-label="Breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'disciplines_listing' %}">Disciplines</a></li>
                                <li class="breadcrumb-item active">Agriculture &amp; Forestry</li>
                            </ol>
                        </nav>
                        <!-- End Breadcrumb -->

                        <h1 class="h2 finder-hp-listing-single-title mb-2">Agriculture &amp; Forestry</h1>

                        <div class="d-flex justify-content-between align-items-center">
                            <ul class="d-flex mb-5 list-unstyled">
                                <li class="me-3 pe-3 border-end">
                                    <b>
                                        12,280
                                        <span class="fw-normal fs-sm">Bachelors</span>
                                    </b>
                                </li>
                                <li class="me-3 pe-3 border-end">
                                    <b>
                                        7,211
                                        <span class="fw-normal fs-sm">Masters</span>
                                    </b>
                                </li>
                                <li class="me-3 pe-3">
                                    <b>
                                        2,319
                                        <span class="fw-normal fs-sm">Doctorates</span>
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Post content-->
                    <section class="container mb-5 pb-1">
                        <div class="row">

                            <!-- Main page -->
                            <div class="col-md-7 mb-md-0 mb-4">

                                <!-- Programmes available -->
                                <div class="mb-3">
                                    <a class="text-decoration-none" href="{% url 'courses_listing' %}">
                                        <button class="rounded mb-3 btn btn-outline-primary me-2" type="button">
                                            <i class="fi-external-link"></i>
                                            Bachelors
                                            <span class="text-muted fs-xs">(12,280)</span>
                                        </button>
                                    </a>
                                    <a class="text-decoration-none" href="{% url 'courses_listing' %}">
                                        <button class="rounded mb-3 btn btn-outline-primary me-2" type="button">
                                            <i class="fi-external-link"></i>
                                            Masters
                                            <span class="text-muted fs-xs">(7,211)</span>
                                        </button>
                                    </a>
                                    <a class="text-decoration-none" href="{% url 'courses_listing' %}">
                                        <button class="rounded mb-3 btn btn-outline-primary me-2" type="button">
                                            <i class="fi-external-link"></i>
                                            Doctorates
                                            <span class="text-muted fs-xs">(2,319)</span>
                                        </button>
                                    </a>
                                </div>
                                <!-- End Programmes available -->

                                <div data-elementor-type="wp-post" data-elementor-id="213"
                                    class="elementor elementor-213">
                                    <div class="elementor-section elementor-top-section elementor-element elementor-element-0f2fe37 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                        data-id="0f2fe37" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-934633e"
                                                data-id="934633e" data-element_type="column">
                                                <div class="p-0 elementor-widget-wrap elementor-element-populated">

                                                    <!-- About section -->
                                                    <div class="elementor-element elementor-element-859a570 elementor-widget elementor-widget-highlighted-heading"
                                                        data-id="859a570" data-element_type="widget"
                                                        data-widget_type="highlighted-heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h3
                                                                class="finder-elementor-highlighted-heading__title h4">
                                                                About</h3>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-186ff25 mb-5 elementor-widget elementor-widget-highlighted-heading"
                                                        data-id="186ff25" data-element_type="widget"
                                                        data-widget_type="highlighted-heading.default">
                                                        <div class="elementor-widget-container">
                                                            <p class="finder-elementor-highlighted-heading__title mb-3">
                                                                Agriculture and Forestry is a vital scientific field that focuses
                                                                on studyig plants, animals, and the environments in which they
                                                                thrive. You’ll learn about forest restoration, managing natural
                                                                resources, food production, and preserving the natural beauty that
                                                                surrounds us. Agriculture and Forestry also studies crop rotation
                                                                and preserving the soil’s mineral qualities. They make sure that
                                                                products follow industry standards and reach the markets. This is
                                                                essential in the mass production of food, whose demand will grow as
                                                                the human population increases.
                                                            </p>
                                                            <p class="finder-elementor-highlighted-heading__title mb-3">
                                                                Agriculture & Forestry students can find themselves working in
                                                                Horticulture, Animal Sciences, Aquaculture and Fisheries,
                                                                and other subfields.
                                                            </p>
                                                            <p class="finder-elementor-highlighted-heading__title mb-3">
                                                                You can help businesses manage their ecological impact;
                                                                establish and preserve wildlife, knowing exactly how animal husbandry
                                                                and cultivating plants affects the environment; or you can create
                                                                spectacular garden landscapes for everyone to admire. During courses,
                                                                you will also learn how to properly manage forests. Many people still
                                                                depend on lumber, as alternative building materials and energy sources’
                                                                popularity is growing slowly. You will be responsible for finding a
                                                                balance that maintains the health of forests, while also providing
                                                                for our needs.
                                                            </p>
                                                            <p class="finder-elementor-highlighted-heading__title mb-3">
                                                                Agriculture & Forestry students can also focus on permaculture, a
                                                                concept that fully embraces the idea of working with nature, rather
                                                                than against it. Permaculture aims to create systems that produce no
                                                                waste and are beneficial for us and the environment. Permaculture
                                                                principles are applied in many fields, including regenerative
                                                                agriculture and rewilding. The need for this type of approaches will
                                                                keep growing in the next years.
                                                            </p>
                                                            <p class="finder-elementor-highlighted-heading__title mb-3">
                                                                Agriculture & Forestry graduates find themselves in diverse careers,
                                                                working as agricultural engineers, agronomists, forests rangers,
                                                                conservationists, nutrient management specialists, landscapers, water
                                                                management planners, and others. Here are other related fields you might
                                                                be interested in environmental sustainability, food science, geology,
                                                                ecology, animal husbandry.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!-- End About section -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-lg-5 mb-md-4 pb-lg-2 border-top">
                                </div>

                            </div>
                            <!-- End Main page -->

                            <!-- Aside -->
                            <aside class="col-lg-5 col-md-5 ms-lg-auto pb-1">
                                <div style="position: sticky; top: 12%; z-index: 1020;">

                                    <!-- Place card-->
                                    <div class="card mb-4 p-2 shadow-sm">
                                        <div class="card-body">
                                            <!-- Place info-->
                                            <div class="d-flex align-items-start mb-1">
                                                <div class="ps-2 ms-1">
                                                    <h3 class="h5 mb-2">Agriculture and Forestry</h3>
                                                    <a href="{% url 'courses_listing' %}" class="text-decoration-none">
                                                        <button class="rounded mb-3 btn btn-outline-primary btn-sm" type="button">
                                                            <i class="fa fa-graduation-cap me-0"></i>
                                                            Bachelors
                                                        </button>
                                                    </a>
                                                    <a href="{% url 'courses_listing' %}" class="text-decoration-none">
                                                        <button class="rounded mb-3 btn btn-outline-primary btn-sm" type="button">
                                                            <i class="fa fa-graduation-cap me-0"></i>
                                                            Masters
                                                        </button>
                                                    </a>
                                                    <a href="{% url 'courses_listing' %}" class="text-decoration-none">
                                                        <button class="rounded mb-3 btn btn-outline-primary btn-sm" type="button">
                                                            <i class="fa fa-graduation-cap me-0"></i>
                                                            Doctorates
                                                        </button>
                                                    </a>
                                                    
                                                    <ul class="list-unstyled d-flex flex-wrap fs-sm">
                                                        <li class="me-2 mb-1 pe-1">
                                                            <a class="text-decoration-none text-muted" href="https://www.timeshighereducation.com/world-university-rankings">
                                                                <i class="finder-icon mt-n1 me-1 align-middle fi-external-link"></i>
                                                                Times Higher Education World University Rankings (2023)
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <!-- University Ranking -->
                                            <div class="d-flex align-items-center fs-sm">

                                                
                                                <table id="example" class="hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rank</th>
                                                            <th>Universities</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="universities-table-body">
                                                    </tbody>
                                                </table>
                                            </div>
                                    
                                        </div>
                                    </div>

                                </div>
                            </aside>
                            <!-- End Aside -->
                        </div>
                    </section>

                    <!-- Other Interesting Courses -->
                    <section class="container pb-5 mb-lg-4">

                        <!-- Interesting Courses Title -->
                        <div class="d-flex align-items-center justify-content-between  mb-4 pb-2">
                            <h2 class="h3 mb-0">Recommended for you</h2>
                            <a class="btn btn-link fw-normal p-0 ms-sm-3" href="../../listing/">
                                More suggestions <i class="fi-arrow-long-right ms-2"></i>
                            </a>
                        </div>
                        <!-- End Interesting Courses Title -->

                        <!-- Interesting Courses Items -->
                        <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside mb-xxl-2">
                            <div class="tns-carousel-inner"
                                data-carousel-options="{&quot;items&quot;:3,&quot;gutter&quot;:24,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:3,&quot;nav&quot;:false}}}">
                                
                                <div>
                                    <article class="position-relative">
                                        <div class="position-relative mb-3">
                                            <a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
                                                data-bs-toggle="modal" href="#user_login_modal"><i
                                                    class="hp-icon heart fi-heart"></i></a>
                                            <div>
                                                <div class="aspect-ratio aspect-w-219 aspect-h-100">
                                                    <img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
                                                        src="{% static 'frontend/wp-content/uploads/2021/11/07-1.jpg' %}"
                                                        alt="Merry Berry Motel" loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                        <h4	class="mb-1 fs-xs fw-normal text-primary">
                                            S.B.
                                        </h4>
                                        <h3 class="finder-hp-listing-title mb-1 fs-lg">
                                            <a class="nav-link stretched-link"
                                                href="{% url 'courses_listing' %}">
                                                Electrical Engineering
                                            </a>
                                        </h3>
                                        <p class="mb-2 fs-sm text-muted">Harvard University</p>
                                        <ul
                                            class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">$47,320</span>/year
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">4 years</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">Full-time</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">On Campus</span>
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                                
                                <div>
                                    <article class="position-relative">
                                        <div class="position-relative mb-3">
                                            <a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
                                                data-bs-toggle="modal" href="#user_login_modal"><i
                                                    class="hp-icon heart fi-heart"></i></a>
                                            <div>
                                                <div class="aspect-ratio aspect-w-219 aspect-h-100">
                                                    <img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
                                                        src="{% static 'frontend/wp-content/uploads/2021/11/09-1.jpg' %}"
                                                        alt="Repose Hotel" loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                        <h4	class="mb-1 fs-xs fw-normal text-primary">
                                            B.Eng.
                                        </h4>
                                        <h3 class="finder-hp-listing-title mb-1 fs-lg">
                                            <a class="nav-link stretched-link"
                                                href="{% url 'courses_listing' %}">
                                                Electrical and Electronic Engineering
                                            </a>
                                        </h3>
                                        <p class="mb-2 fs-sm text-muted">Imperial College London</p>
                                        <ul
                                            class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">£37,900</span>/year
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">3 years</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">Full-time</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">On Campus</span>
                                            </li>
                                        </ul>
                                    </article>
                                </div>

                                <div>
                                    <article class="position-relative">
                                        <div class="position-relative mb-3">
                                            <a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
                                                data-bs-toggle="modal" href="#user_login_modal"><i
                                                    class="hp-icon heart fi-heart"></i></a>
                                            <div>
                                                <div class="aspect-ratio aspect-w-219 aspect-h-100">
                                                    <img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
                                                        src="{% static 'frontend/wp-content/uploads/2021/11/11-1.jpg' %}"
                                                        alt="Soothe &amp; Stay" loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                        <h4	class="mb-1 fs-xs fw-normal text-primary">
                                            B.S.
                                        </h4>
                                        <h3 class="finder-hp-listing-title mb-1 fs-lg">
                                            <a class="nav-link stretched-link"
                                                href="{% url 'courses_listing' %}">
                                                Electrical and Computer Engineering
                                            </a>
                                        </h3>
                                        <p class="mb-2 fs-sm text-muted">University of California, Berkeley</p>
                                        <ul
                                            class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">$23,410</span>/year
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">4 years</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">Full-time</span>
                                            </li>
                                            <li class="list-inline-item pe-1">
                                                <i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
                                                <span class="fw-bold">On Campus</span>
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <!-- End Interesting Courses Items -->

                    </section>
                    <!-- End Recently Viewed -->

                </div>
            </div>
        </div>
    </div>
    <!-- #content -->
{% endblock %}

{% block page_js %}
    <!-- ChatGPT Universities Name -->
    <script>
        jQuery(document).ready(function () {
            var universitiesTableBody = jQuery('#universities-table-body');
            const universities = [
                'Harvard University',
                'Massachusetts Institute of Technology',
                'Stanford University',
                'California Institute of Technology',
                'University of Cambridge',
                'University of Oxford',
                'Princeton University',
                'University of Chicago',
                'Imperial College London',
                'ETH Zurich - Swiss Federal Institute of Technology Zurich',
                'National University of Singapore',
                'University of Tokyo',
                'University of Michigan',
                'University of California, Berkeley',
                'University of California, Los Angeles',
                'Yale University',
                'Columbia University',
                'University of Pennsylvania',
                'Duke University',
                'University of Toronto',
                'McGill University',
                'University of British Columbia',
                'University of Melbourne',
                'University of Sydney',
                'University of New South Wales',
                'University of Queensland',
                'University of Auckland',
                'University of Hong Kong',
                'University of Edinburgh',
                'University of Bristol',
                'University of Warwick',
                'King\'s College London',
                'University of Manchester',
                'University of Leeds',
                'University of Sheffield',
                'University of Southampton',
                'University of Glasgow',
                'University of St Andrews',
                'University of Copenhagen',
                'Technical University of Munich',
                'Heidelberg University',
                'University of Zurich',
                'Ludwig Maximilian University of Munich',
                'University of Amsterdam',
                'University of Utrecht',
                'Leiden University',
                'University of Paris',
                'Ecole Normale Superieure',
                'Sorbonne University',
                'University of Sydney',
                'University of Melbourne',
                'University of New South Wales',
                'University of Queensland',
                'University of Auckland',
                'University of Hong Kong',
                'University of Edinburgh',
                'University of Bristol',
                'University of Warwick',
                'King\'s College London',
                'University of Manchester',
                'University of Leeds',
                'University of Sheffield',
                'University of Southampton',
                'University of Glasgow',
                'University of St Andrews',
                'University of Copenhagen'
                ];

            for (var i = 1; i <= 60; i++) {
                var university = universities[i-1];
                universitiesTableBody.append('<tr><td>' + i + '</td><td><a href="../school/" class="text-decoration-none">' + university + '</a></td></tr>');
            }
        });
    </script>

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        jQuery(document).ready(function () {
                jQuery('#example').DataTable();
            });
    </script>
{% endblock %}