{% extends "frontend/layout.html" %}
{% load static %}

{% block page_title %}
	HillPad &#8211; Courses
{% endblock %}

{% block page_content %}
	<!-- Content -->
	<div id="content" class="site-content">
		<div class="content-area">
			<div class="hp-page site-main">
				<div class="finder-hivepress-listing-single">

					<!-- Page Heading -->
					<div class="container pt-5 mt-5">
						
						<!-- Page Navigation -->
						<nav class="mb-5 pt-md-3" aria-label="Breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								<li class="breadcrumb-item active">Disciplines</li>
							</ol>
						</nav>
						<!-- End Page Navigation -->
						
						<!-- Header Text Area -->
						<div class="d-sm-flex align-items-center justify-content-between mb-4 pb-sm-2">
							<!-- Course Title -->
							<h1 class="h1 finder-hp-listing-single-title me-3 mb-sm-0">Disciplines</h1>
							<!-- End Course Title -->
						</div>
						<!-- End Header Text Area -->
						
					</div>
					<!-- End Page Heading -->

					<!-- Disciplines Section -->
					<div class="container mb-5 pb-2">
						<div class="elementor-element elementor-element-7d0a2e39 mb-0 elementor-widget elementor-widget-highlighted-heading"
							data-id="7d0a2e39" data-element_type="widget" data-widget_type="highlighted-heading.default">
							<div class="elementor-widget-container">
						
								<!-- Sort by and Results -->
								<div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
						
									<!-- Sort by -->
									<form class="d-flex align-items-center flex-shrink-0 finder-hivepress-sorting" action=".." method="GET">
										<input type="hidden" name="post_type" value="hp_listing" class="hp-field hp-field--hidden">
										<label class="fs-sm me-2 pe-1 text-nowrap" for="sortby">
											<i class="fi-arrows-sort text-muted mt-n1 me-2"></i>
											Sort by: </label>
										<select name="_sort" class="listing-orderby form-select form-select-sm" id="sortby"
											onchange="this.form.submit();">
											<option value="distance__asc" selected>Name</option>
											<option value="distance__desc">Number of programmes</option>
										</select>
									</form>
									<!-- End Sort by -->
						
									<hr class="d-none d-sm-block w-100 mx-4">
						
									<!-- Results -->
									<div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted">
										<i class="fi-check-circle me-2"></i>
										<span class="fs-sm mt-n1">
											18 disciplines </span>
									</div>
									<!-- End Results -->
								</div>
								<!-- End Sort by and Results -->
						
								<!-- Disciplines -->
								<div class="elementor-container elementor-column-gap-default row row-cols-lg-5 row-cols-md-2 row-cols-sm-1 row-cols-1 g-4 mb-4 mt-2">
									
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3 mx-auto">
												<i class="fa fa-tractor text-success"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">
												Agriculture &amp; Forestry</h3>
											<span class="text-dark opacity-60">(23,450)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
												<i class="fi fi-thermometer text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Applied Sciences &amp; Professions</h3>
											<span class="text-dark opacity-60">(92,132)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3 mx-auto">
												<i class="fa fa-paint-brush text-warning"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Art, Design &amp; Architecture</h3>
											<span class="text-dark opacity-60">(68,249)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
												<i class="fi-briefcase text-info"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Business &amp; Management</h3>
											<span class="text-dark opacity-60">(243,762)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
												<i class="fi-computer text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Computer Science &amp; IT
											</h3>
											<span class="text-dark opacity-60">(143,592)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-info text-info rounded-circle mb-3 mx-auto">
												<i class="fa fa-book text-danger"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Education &amp; Training
											</h3>
											<span class="text-dark opacity-60">(82,346)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
												<i class="fi-settings text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Engineering &amp; Technology</h3>
											<span class="text-dark opacity-60">(358,941)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3 mx-auto">
												<i class="fi-calculator text-info"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Natural Sciences &amp; Mathematics</h3>
											<span class="text-dark opacity-60">(86,390)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
												<i class="fi-house-chosen text-success"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Hospitality, Leisure &amp; Sports
											</h3>
											<span class="text-dark opacity-60">(92,132)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-info text-info rounded-circle mb-3 mx-auto">
												<i class="fa fa-film text-warning"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">
												Journalism, Media &amp; Communication</h3>
											<span class="text-dark opacity-60">(54,272)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3 mx-auto">
												<i class="fa fa-cloud-sun text-info"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Environmental Sciences
											</h3>
											<span class="text-dark opacity-60">(34,132)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3 mx-auto">
												<i class="fa fa-tractor text-success"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">
												Agriculture &amp; Forestry</h3>
											<span class="text-dark opacity-60">(21,226)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
												<i class="fi fi-thermometer text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Applied Sciences &amp; Professions</h3>
											<span class="text-dark opacity-60">(92,132)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3 mx-auto">
												<i class="fa fa-paint-brush text-warning"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Art, Design &amp; Architecture</h3>
											<span class="text-dark opacity-60">(40,021)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
												<i class="fi-briefcase text-info"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Business &amp; Management
											</h3>
											<span class="text-dark opacity-60">(213,862)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
												<i class="fi-computer text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Computer Science &amp; IT
											</h3>
											<span class="text-dark opacity-60">(92,132)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-info text-info rounded-circle mb-3 mx-auto">
												<i class="fa fa-book text-danger"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Education &amp; Training
											</h3>
											<span class="text-dark opacity-60">(3,432)</span>
										</a>
									</div>
									<div class="elementor-column">
										<a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
											href="{% url 'discipline_detail' %}">
											<div
												class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
												<i class="fi-settings text-primary"></i>
											</div>
											<h3 class="icon-box-title fs-base mb-0">Engineering &amp; Technology</h3>
											<span class="text-dark opacity-60">(856)</span>
										</a>
									</div>
						
								</div>
						
							</div>
						</div>
					</div>
					<!-- End Disciplines Section -->

					<!-- Recommended Courses -->
					<section class="container pb-5 mb-lg-4">

						<!-- Interesting Courses Title -->
						<div class="d-flex align-items-center justify-content-between  mb-4 pb-2">
							<h2 class="h3 mb-0">Recommended courses for you</h2>
							<a class="btn btn-link fw-normal p-0 ms-sm-3" href="../../listing/">
								More suggestions <i class="fi-arrow-long-right ms-2"></i>
							</a>
						</div>
						<!-- End Interesting Courses Title -->

						<!-- Interesting Courses Items -->
						<div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside mb-xxl-2">
							<div class="tns-carousel-inner"
								data-carousel-options="{&quot;items&quot;:3,&quot;gutter&quot;:24,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:3,&quot;nav&quot;:false}}}">
								
								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/07-1.jpg' %}"
														alt="Merry Berry Motel" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											S.B.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">Harvard University</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">$47,320</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">4 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>
								
								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/09-1.jpg' %}"
														alt="Repose Hotel" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											B.Eng.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical and Electronic Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">Imperial College London</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">£37,900</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">3 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>

								<div>
									<article class="position-relative">
										<div class="position-relative mb-3">
											<a class="btn btn-icon btn-light btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5 hp-listing__action hp-listing__action--favorite active-state-v1"
												data-bs-toggle="modal" href="#user_login_modal"><i
													class="hp-icon heart fi-heart"></i></a>
											<div>
												<div class="aspect-ratio aspect-w-219 aspect-h-100">
													<img class="w-full h-full object-center object-cover finder-hp-listing-images rounded-3"
														src="{% static 'frontend/wp-content/uploads/2021/11/11-1.jpg' %}"
														alt="Soothe &amp; Stay" loading="lazy">
												</div>
											</div>
										</div>
										<h4	class="mb-1 fs-xs fw-normal text-primary">
											B.S.
										</h4>
										<h3 class="finder-hp-listing-title mb-1 fs-lg">
											<a class="nav-link stretched-link"
												href="{% url 'course_detail' 'accounting380119' %}">
												Electrical and Computer Engineering
											</a>
										</h3>
										<p class="mb-2 fs-sm text-muted">University of California, Berkeley</p>
										<ul
											class="list-inline mb-0 fs-xs hp-listing__attributes hp-listing__attributes--secondary">
											<li class="list-inline-item pe-1">
												<i class="fi-cash mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">$23,410</span>/year
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-calendar mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">4 years</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-clock mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">Full-time</span>
											</li>
											<li class="list-inline-item pe-1">
												<i class="fi-map-pin mt-n1 me-1 fs-base align-middle"></i>
												<span class="fw-bold">On Campus</span>
											</li>
										</ul>
									</article>
								</div>
							</div>
						</div>
						<!-- End Interesting Courses Items -->

					</section>
					<!-- End Recommended Courses -->

				</div>
			</div>
		</div>
	</div>
	<!-- #content -->
{% endblock %}